* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.prev, .next, .current {
	float: left;
	width: 33.33%;
	font-size: 3rem;
}

.prev {
	text-align: left;
}

.current {
	text-align: center;
}

.next {
	text-align: right;
}

.nav-calendar {
	width: 100%;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.day {
	min-height: 70px;
	padding: 1em;
	text-align: right;
	font-size: 2rem;
	width: 14.2857%;
	float: left;
	border: 1px solid black;
	border-collapse: collapse;
}

.day-title {
	text-align: center;
}

.day-details-wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.05);
}

.day-details {
	text-align: left;
	padding: 0 2%;
	margin: 7.5% 12.5% 0 12.5%;
	position: absolute;
	height: 75%;
	width: 75%;
	top: 0;
	left: 0;
	background: #abc;
}